body{
    font-family: arial;
    margin: 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 5%;
}

header + div{
	display: block;
	margin: 1% 20%;
}

p{
	text-align: justify;
}

h1{
	text-align: center;
}