header{
    position: relative;
    background-color: black;  
    width: 100%;
    margin-bottom: 20px;
}

header img, header div, header p{
    display: inline-block;
}

header p{
    position: absolute;
    width: 80%;
    top: -35%;
    left: 10%;
    color: white;
    text-align: center;
    font-size: 50px;
}

header img{
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 3px;
    width: 10%
}